@{
    ViewData["Title"] = "Home Page";
}

@{
    bool badLogin = (ViewBag.badLogin != null);
}

<div class="text-center">
    <form action='@Url.Action("Login", "Home")' method="POST">
        <label for="email">Ingresa tu mail</label>
        <input type="email" name="email" placeholder="Email" required>
        <label for="username">Ingresa tu usuario</label>
        <input type="text" name="username" placeholder="Usuario" required>
        @if(badLogin){
            <p style="color: red; margin: 0;">El usuario no corresponde</p>
        }
        <button type="submit">Loguear</button>
    </form>
</div>
